@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure full height for main container */
main {
  height: 100%;
  display: flex;
  align-items: left; /* Vertically center the content */
  justify-content: left;
}

body {
  background: linear-gradient(#00293f, 55%, #d3dee1);
}

.greeting {
  font-family: "Michroma", sans-serif;
  font-size: 28px;
  text-align: left;
  padding-left: 2em;
  line-height: 1.2;
  position: relative;
  top: 60px;
  color: white;
}
